@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}


.btn-div {
    margin-top: 2em;
}

.diwali-heading {
    text-align: center;
    color: rgb(235, 215, 215);
    font-family: "Caveat";
    font-size: 6vw;
    font-weight: 600;
    padding: 20px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;

}

.diwali-mdm-section {
    text-align: center;
    /* padding: 45px; */
    background-color: #e6f6ff;
}

.diwali-card-item {
    /* text-align: center; */
    background-color: white;
    width: 350px;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
}

.diwali-card-item img {
    width: 250px;
    height: 160px;
}

.btn-div {
    margin-top: 10px;
    margin-bottom: 15px;
}