* {
    margin: 0;
    padding: 0;
}

.detailed-view-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 100vh;
    background-size: cover;

}

.tm-img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.detailed-view-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 600;
    color: rgb(48, 32, 32);

}

.detailed-view-card-container {

    justify-content: center;
    align-items: center;
    display: flex;



}

.detailed-view-card-text-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    justify-content: center;
    align-items: center;
    background-color: rgba(157, 0, 55, 0.806);
    width: 60vw;
    height: 13vw;
    border-radius: 10px;



}

.card-heading {
    text-align: center;
    /* padding: 20px; */
    font-family: cursive;
    color: white;
    font-weight: bold;
}

.card-description {
    padding: 10px;
    font-family: "Roboto";
    font-size: 19px;
    color: rgba(255, 255, 255, 0.808);
}